@import url("colors.css");

.sidebar {
  width: 15%;
  background-color: var(--sidebar-bg);
  color: var(--primary-text);
  padding: 20px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  overflow-y: auto;
}

.sidebar h2 {
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul .sidebar-item {
  padding: 12px 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s ease, color 0.3s ease;
  font-size: 14px;
  color: var(--sidebar-text);
}

.sidebar ul .sidebar-item i {
  margin-right: 10px;
  font-size: 20px;
  color: var(--primary-text);
}

.sidebar ul .sidebar-item:hover {
  background-color: var(--sidebar-hover);
  color: #fff;
}

.sidebar ul .sidebar-item.active {
  background-color: var(--sidebar-active);
  font-weight: bold;
}

/* Mobile Sidebar */
@media screen and (max-width: 768px) {
  .sidebar {
    width: 60px;
    transition: width 0.3s ease-in-out;
  }

  .sidebar h2 {
    display: none;
  }

  .sidebar ul .sidebar-item {
    justify-content: center;
  }

  .sidebar ul .sidebar-item span {
    display: none;
  }
}
